.Manager {
  position: relative
}

.Manager__separator {
  bottom: 0;
  border-color: white;
  border-style: dashed;
  border-width: 0 2px 0 0;
  left: 50vw;
  position: absolute;
  top: 0;
  transform: translateX(-1px);
  width: 0;
}

.Manager__win {
  color: white;
  font-size: 500%;
  left: 50vw;
  position: absolute;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
}

.Manager__restart {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 300%;
  left: 50vw;
  padding: 10px 30px;
  position: absolute;
  bottom: 5vh;
  transform: translateX(-50%);
}
